{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}

    <h1>Мои статьи</h1>

    {% if not articles %}
        <p>Статей нет <br><a href="/lab5/create">Создать статью</a></p>
    {% else %}

        {% for article in articles %}
            <h2>{{ article['title'] }}</h2>
            <blockquote>{{ article['article_text'] }}</blockquote>
            <div>

                {% if article['is_public'] %}
                    <span style="color: green; margin-right: 10px;">Публичная</span>
                {% else %}
                    <span style="color: rgb(62, 0, 0); margin-right: 10px;">Приватная</span>
                {% endif %}

                {% if article['is_favorite'] %}
                    <span style="color: gold; margin-right: 10px;">Избранная</span>
                {% endif %}

                <a href="/lab5/edit/{{ article['id'] }}" style="margin-right: 10px;">Редактировать</a>
                <a href="/lab5/delete/{{ article['id'] }}" onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить</a>
            </div>
            <hr style="margin: 20px 0;">
        {% endfor %}
    {% endif %}
    
    <div style="margin-top: 20px;">
        <a href="/lab5/create">Создать новую статью</a> | 
        <a href="/lab5/public">Публичные статьи</a> | 
        <a href="/lab5/">На главную</a>
    </div>

{% endblock %}