{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Публичные статьи</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% elif articles %}
        {% for article in articles %}
            <div class="article">
                <h3>{{ article['title'] }}</h3>
                <p>{{ article['article_text'] }}</p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>Нет публичных статей</p>
    {% endif %}
        {% if login %}
            <a href="/lab5/list">Мои статьи</a> | 
        {% else %}
            <a href="/lab5/login">Вход</a> | 
        {% endif %}
    <p><a href="/lab5/">На главную</a></p>
{% endblock %}