{% extends "base.html" %} 

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<style>
    .menu-list {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 0;
        list-style: none;
        justify-content: center;
        font-size: 30px;
    }
    .menu-link {
        padding: 8px 16px;
        background: #482f1e;
        border-radius: 10px;
        color: beige;
    }
    .menu-link:hover {
        background: #5a3a25;
    }
    .user {
        font-weight: bold;
        color: #482f1e;
    }
    .header {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
    }
</style>

    <div class="header">
        <h1>Flask и БД</h1>
        <div>Список сделанных страниц:</div>
    </div>

    <ol class="menu-list">
        <li>
            <a class="menu-link" href="/lab8/login">Вход</a>
        </li>
        <li>
            <a class="menu-link" href="/lab8/register">Регистрация</a>
        </li>
        <li>
            <a class="menu-link" href="/lab8/articles">Список статей</a>
        </li>
        <li>
            <a class="menu-link" href="/lab8/create">Создать статью</a>
        </li>
        <li>
            <span>{{ login or 'anonymous' }}</span>
        </li>
    </ol>
{% endblock %}
