{% extends "base.html" %} 

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<style>
    .menu-list {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 0;
        list-style: none;
        justify-content: center;
        font-size: 30px;
    }
    .menu-link {
        padding: 8px 16px;
        background: #482f1e;
        border-radius: 10px;
        color: beige;
    }
    .menu-link:hover {
        background: #5a3a25;
    }
    .user {
        font-weight: bold;
        color: #482f1e;
    }
    .header {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
    }
</style>
    <div class="header">
    <h1>База знаний</h1>
    <p>Система управления статьями с авторизацией</p>
</div>

<div class="user-status">
    {% if current_user.is_authenticated %}
    Вы вошли как: <strong>{{ current_user.login }}</strong>
    {% else %}
    Вы не авторизованы
    {% endif %}
</div>

<ol class="menu-list">
    {% if not current_user.is_authenticated %}
    <li>
        <a class="menu-link" href="/lab8/login">Вход</a>
    </li>
    <li>
        <a class="menu-link" href="/lab8/register">Регистрация</a>
    </li>
    {% endif %}
    
    <li>
        <a class="menu-link" href="/lab8/articles/">Список статей</a>
    </li>
    
    {% if current_user.is_authenticated %}
    <li>
        <a class="menu-link" href="/lab8/create">Создать статью</a>
    </li>
    <li>
        <a class="menu-link" href="/lab8/logout">Выход</a>
    </li>
    {% endif %}
</ol>
{% endblock %}
